.save-check {
    color: green;
}
.save-check:hover {    
    color: lightgreen;    
}

.close-icon {
    color: red;
    margin-left: 8px;
}

.close-icon:hover {
    color: pink;
}

.study-tab {
    float: left;
    border: none;
    outline: none;
    
    transition: 0.3s;
    width: 20%;
    background-color: transparent;
    color: #6dded3;
}

.study-tab.active {
    background-color: #181f1e;
}

.study-tab.inactive:hover {
    cursor: pointer;
    color: #0fa37c;
}

.dir-tab {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    width: 20%;    
    background-color: #d8d8d8;
}

.dir-tab:hover {
    background-color: #c9c9c9;
}

.dir-tab.active {
    background-color: #363636;
    color: white;
}


/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}
